@import url("./app/app.css");

/* theme */
:root {
  --font-family: "Open Sans", sans-serif;
  --primary: #8e44ad;
  --dark: #2c3e50;
  --background-light: #ecf0f1;
  --text-color: #444;
  --text-color-light: #fff;
  --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
}
